<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>100</key>
	<dict>
		<key>description</key>
		<string>Communication with the server failed.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>101</key>
	<dict>
		<key>description</key>
		<string>Communication with the server failed because the session is closed.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>102</key>
	<dict>
		<key>description</key>
		<string>Communication with the server failed due to a service request timeout.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>103</key>
	<dict>
		<key>description</key>
		<string>The request was rejected because the used principal has insufficient permissions.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>104</key>
	<dict>
		<key>description</key>
		<string>The request was rejected because the requested service is unsupported for this client.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>105</key>
	<dict>
		<key>description</key>
		<string>An application callback threw an exception. Check logs for more information.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>106</key>
	<dict>
		<key>description</key>
		<string>An operation failed because invalid data was received.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>107</key>
	<dict>
		<key>description</key>
		<string>The session does not exist on the server.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>108</key>
	<dict>
		<key>description</key>
		<string>A datatype operation has failed due to incompatibility.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>109</key>
	<dict>
		<key>description</key>
		<string>A message was not handled by the server.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>110</key>
	<dict>
		<key>description</key>
		<string>The cluster was repartitioning and the request could not be routed.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>111</key>
	<dict>
		<key>description</key>
		<string>A topic update could not be performed because the topic is managed by a component which prohibits external updates.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>112</key>
	<dict>
		<key>description</key>
		<string>The cluster operation could not be routed.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>200</key>
	<dict>
		<key>description</key>
		<string>A conflicting registration exists on the same branch of the topic tree.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20001</key>
	<dict>
		<key>description</key>
		<string>Overflow occurred in &lt;phase/function&gt;.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20002</key>
	<dict>
		<key>description</key>
		<string>Unable to correctly deserialise &lt;type&gt; value.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20003</key>
	<dict>
		<key>description</key>
		<string>Unknown value type: &lt;class&gt;.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20004</key>
	<dict>
		<key>description</key>
		<string>Unexpected value detected: &lt;value&gt;.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20005</key>
	<dict>
		<key>description</key>
		<string>Invalid filter.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20006</key>
	<dict>
		<key>description</key>
		<string>Unknown encoding &lt;encoding&gt; for &lt;field/phase&gt;.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20007</key>
	<dict>
		<key>description</key>
		<string>Unknown value &lt;value&gt; for enumeration &lt;enumeration&gt;.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20008</key>
	<dict>
		<key>description</key>
		<string>HTTP message serialisation failed.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20009</key>
	<dict>
		<key>description</key>
		<string>JSON string cannot be encoded to UTF8 in a lossless manner: &lt;string&gt;.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20010</key>
	<dict>
		<key>description</key>
		<string>CBOR is empty.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20011</key>
	<dict>
		<key>description</key>
		<string>Unhandled CBOR: &lt;method&gt;.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20012</key>
	<dict>
		<key>description</key>
		<string>setReadValue has been called multiple times.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20013</key>
	<dict>
		<key>description</key>
		<string>Unable to change principal due to authentication failure.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20014</key>
	<dict>
		<key>description</key>
		<string>Session failed to create Transport layer.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20015</key>
	<dict>
		<key>description</key>
		<string>Session closed by Transport Layer.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20016</key>
	<dict>
		<key>description</key>
		<string>Connection aborted by reconnection strategy.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20017</key>
	<dict>
		<key>description</key>
		<string>Session closed due to inactivity.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20018</key>
	<dict>
		<key>description</key>
		<string>Message type &lt;type&gt; is not supported for routing.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20019</key>
	<dict>
		<key>description</key>
		<string>Missing conversation ID in Fetch header.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20020</key>
	<dict>
		<key>description</key>
		<string>Reconnection timeout.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20021</key>
	<dict>
		<key>description</key>
		<string>Expecting &lt;count&gt; components separated by &lt;char&gt;. Received &lt;value&gt;.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20022</key>
	<dict>
		<key>description</key>
		<string>Expecting &lt;count&gt; characters. Received &lt;value&gt;.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20023</key>
	<dict>
		<key>description</key>
		<string>Detected invalid hex characters: &lt;value&gt;.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20024</key>
	<dict>
		<key>description</key>
		<string>Unable to scan High value in &lt;value&gt;.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20025</key>
	<dict>
		<key>description</key>
		<string>Unable to scan Low value in &lt;value&gt;.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20026</key>
	<dict>
		<key>description</key>
		<string>Session lock has been cancelled.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20027</key>
	<dict>
		<key>description</key>
		<string>Data types are not compatible.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20028</key>
	<dict>
		<key>description</key>
		<string>Stream has been exhausted.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20029</key>
	<dict>
		<key>description</key>
		<string>Failed to create topic view. Check PTDiffusionUnderlyingErrorsKey for more information.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20030</key>
	<dict>
		<key>description</key>
		<string>&lt;feature/function/value&gt; is not supported.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20031</key>
	<dict>
		<key>description</key>
		<string>Unexpected item &lt;item/class&gt; encountered.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20032</key>
	<dict>
		<key>description</key>
		<string>The container is immutable.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20033</key>
	<dict>
		<key>description</key>
		<string>CBOR codec is missing.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20034</key>
	<dict>
		<key>description</key>
		<string>The container is unfinished.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20035</key>
	<dict>
		<key>description</key>
		<string>The document is already set.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20036</key>
	<dict>
		<key>description</key>
		<string>Incomplete map entry.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20037</key>
	<dict>
		<key>description</key>
		<string>64-bit encoding is not supported the current runtime environment.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20038</key>
	<dict>
		<key>description</key>
		<string>Value is out of range.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20039</key>
	<dict>
		<key>description</key>
		<string>Additional information &lt;value&gt; is unhandled.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20040</key>
	<dict>
		<key>description</key>
		<string>Unable to parse data &lt;data&gt; as UTF8 string.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20041</key>
	<dict>
		<key>description</key>
		<string>Parsing of type &lt;type&gt; is unhandled.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20042</key>
	<dict>
		<key>description</key>
		<string>Serialisation of type &lt;type&gt; is unhandled.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20043</key>
	<dict>
		<key>description</key>
		<string>Serialisation of &lt;class&gt; objects is not supported.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20044</key>
	<dict>
		<key>description</key>
		<string>Maximum recursion depth reached for serialisation.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20045</key>
	<dict>
		<key>description</key>
		<string>Unexpected item &lt;item&gt; detected while parsing binary delta.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20046</key>
	<dict>
		<key>description</key>
		<string>Item &lt;item&gt; in binary delta parsing is unsupported.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20047</key>
	<dict>
		<key>description</key>
		<string>Binary delta parsing is expecting the size of the copy.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20048</key>
	<dict>
		<key>description</key>
		<string>Binary delta parsing is expecting a break.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20049</key>
	<dict>
		<key>description</key>
		<string>Value is out of range for current runtime environment.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20050</key>
	<dict>
		<key>description</key>
		<string>Delegate not found.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20051</key>
	<dict>
		<key>description</key>
		<string>Multiple topic constraints found.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20052</key>
	<dict>
		<key>description</key>
		<string>Insufficient data for &lt;field&gt; in &lt;data&gt;.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20053</key>
	<dict>
		<key>description</key>
		<string>Unknown value &lt;value&gt; for &lt;field&gt; in &lt;data&gt;.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20054</key>
	<dict>
		<key>description</key>
		<string>The service is in an invalid state.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20055</key>
	<dict>
		<key>description</key>
		<string>There is no old value to apply delta to.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20056</key>
	<dict>
		<key>description</key>
		<string>No delta type available.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20057</key>
	<dict>
		<key>description</key>
		<string>Encoding of message headers to string failed.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20058</key>
	<dict>
		<key>description</key>
		<string>Unknown message type &lt;type&gt;.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20059</key>
	<dict>
		<key>description</key>
		<string>Invalid nil value for update stream datatype &lt;datatype&gt;.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20060</key>
	<dict>
		<key>description</key>
		<string>Value class &lt;class&gt; is not an instance of class &lt;class&gt;.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20061</key>
	<dict>
		<key>description</key>
		<string>Unhandled type &lt;type&gt; received.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20062</key>
	<dict>
		<key>description</key>
		<string>Unexpected string start detected.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20063</key>
	<dict>
		<key>description</key>
		<string>Unexpected break detected.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20064</key>
	<dict>
		<key>description</key>
		<string>Datatype with name &lt;name&gt; is unknown.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20065</key>
	<dict>
		<key>description</key>
		<string>Data loss on topic with id '&lt;id&gt;'. Session closing.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20066</key>
	<dict>
		<key>description</key>
		<string>Entry for topic path &lt;path&gt; already exists.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20067</key>
	<dict>
		<key>description</key>
		<string>Entry for topic id &lt;id&gt; already exists.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20068</key>
	<dict>
		<key>description</key>
		<string>Unable to generate notifier from stream.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20069</key>
	<dict>
		<key>description</key>
		<string>Stream registry is closed.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20070</key>
	<dict>
		<key>description</key>
		<string>Buffered data reader has been requested while Transport layer is in an invalid state.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20071</key>
	<dict>
		<key>description</key>
		<string>Connection response received while Transport layer is in an invalid state.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20072</key>
	<dict>
		<key>description</key>
		<string>Message received while Transport layer is in an invalid state.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20073</key>
	<dict>
		<key>description</key>
		<string>Error occurred for unknown reason.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20074</key>
	<dict>
		<key>description</key>
		<string>Error occurred while appending data to the HTTP message.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20075</key>
	<dict>
		<key>description</key>
		<string>Invalid status code (&lt;code&gt;) received.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20076</key>
	<dict>
		<key>description</key>
		<string>Authentication challenge handler has not been provided.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20077</key>
	<dict>
		<key>description</key>
		<string>Maximum number of conversations &lt;size&gt; has been reached.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20078</key>
	<dict>
		<key>description</key>
		<string>JSON Pointer expression must be empty or start with '/'.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20079</key>
	<dict>
		<key>description</key>
		<string>Failed to write to stream.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20080</key>
	<dict>
		<key>description</key>
		<string>Unknown stream error.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20081</key>
	<dict>
		<key>description</key>
		<string>Failed to verify SSL. Failing security levels: input=&lt;input&gt; vs output=&lt;output&gt;</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20082</key>
	<dict>
		<key>description</key>
		<string>Maximum message queue exceeded when writing to stream.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20083</key>
	<dict>
		<key>description</key>
		<string>Failed to write to stream of fixed size or reached capacity.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20084</key>
	<dict>
		<key>description</key>
		<string>Failed to enable SSL.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20085</key>
	<dict>
		<key>description</key>
		<string>Failed to configure SSL.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20086</key>
	<dict>
		<key>description</key>
		<string>Connection timeout.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20087</key>
	<dict>
		<key>description</key>
		<string>Received incorrect HTTP response code &lt;code&gt;.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20088</key>
	<dict>
		<key>description</key>
		<string>Unexpected HTTP response for &lt;header&gt; with value &lt;value&gt;.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20089</key>
	<dict>
		<key>description</key>
		<string>Frame operation code &lt;code&gt; is unexpected.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20090</key>
	<dict>
		<key>description</key>
		<string>Received websocket data frame of length &lt;length&gt;, exceeding the configured maximum of &lt;length&gt; bytes.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20091</key>
	<dict>
		<key>description</key>
		<string>Connection has been closed.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20092</key>
	<dict>
		<key>description</key>
		<string>Invalid frame start.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20093</key>
	<dict>
		<key>description</key>
		<string>Payload data is masked.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20094</key>
	<dict>
		<key>description</key>
		<string>64-bit encoding is not supported the current runtime environment.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20095</key>
	<dict>
		<key>description</key>
		<string>Failed to initialise compression stream.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20096</key>
	<dict>
		<key>description</key>
		<string>Failed to process compression.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20097</key>
	<dict>
		<key>description</key>
		<string>Failed to destroy compression stream.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20098</key>
	<dict>
		<key>description</key>
		<string>Compressed data is too small.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20099</key>
	<dict>
		<key>description</key>
		<string>Compressed data header is incorrect.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>201</key>
	<dict>
		<key>description</key>
		<string>A conflicting registration exists.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20100</key>
	<dict>
		<key>description</key>
		<string>Last record is not variable.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20101</key>
	<dict>
		<key>description</key>
		<string>Last record has reached maximum occurrences: &lt;max&gt;</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20102</key>
	<dict>
		<key>description</key>
		<string>Last record has no occurrences to add field to.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20103</key>
	<dict>
		<key>description</key>
		<string>Last field is not variable.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20104</key>
	<dict>
		<key>description</key>
		<string>Adding values would exceed maximum field occurrences: &lt;max&gt;.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20105</key>
	<dict>
		<key>description</key>
		<string>Removal would violate the minimum number of occurrences: &lt;min&gt;.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20106</key>
	<dict>
		<key>description</key>
		<string>Formatter failed to generate &lt;field&gt; from &lt;string&gt;.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20107</key>
	<dict>
		<key>description</key>
		<string>String contains invalid characters: &lt;string&gt;.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20108</key>
	<dict>
		<key>description</key>
		<string>Operation has resulted in an error.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20109</key>
	<dict>
		<key>description</key>
		<string>String &lt;string&gt; cannot be encoded using UTF-8.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20110</key>
	<dict>
		<key>description</key>
		<string>Data &lt;data&gt; cannot be decoded using UTF-8.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20111</key>
	<dict>
		<key>description</key>
		<string>Field key's name is missing.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20112</key>
	<dict>
		<key>description</key>
		<string>Field key is missing a closing bracket.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20113</key>
	<dict>
		<key>description</key>
		<string>Characters found after closing bracket.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20114</key>
	<dict>
		<key>description</key>
		<string>Index in key &lt;key&gt; could not be parsed.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20115</key>
	<dict>
		<key>description</key>
		<string>The key &lt;key&gt; has too many parts.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20116</key>
	<dict>
		<key>description</key>
		<string>The total number of records is less than the minimum required: &lt;min&gt;.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20117</key>
	<dict>
		<key>description</key>
		<string>The total number of records exceeds the maximum allowed: &lt;max&gt;.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20118</key>
	<dict>
		<key>description</key>
		<string>The total number of fields is less than the minimum required: &lt;min&gt;.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20119</key>
	<dict>
		<key>description</key>
		<string>The model size exceeds the maximum size: &lt;max&gt;.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20120</key>
	<dict>
		<key>description</key>
		<string>The record size exceeds the maximum size: &lt;max&gt;.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20121</key>
	<dict>
		<key>description</key>
		<string>The total number of fields exceeds the maximum allowed: &lt;max&gt;.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20122</key>
	<dict>
		<key>description</key>
		<string>The record size exceeds the maximum size: &lt;max&gt;.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20123</key>
	<dict>
		<key>description</key>
		<string>The total number of fields exceeds the maximum allowed: &lt;max&gt;.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20124</key>
	<dict>
		<key>description</key>
		<string>Root of the JSON is not a dictionary: &lt;object&gt;.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20125</key>
	<dict>
		<key>description</key>
		<string>Value for &lt;field&gt; name in JSON is not a string: &lt;object&gt;.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20126</key>
	<dict>
		<key>description</key>
		<string>Value for &lt;field&gt; in JSON is not a dictionary: &lt;object&gt;.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20127</key>
	<dict>
		<key>description</key>
		<string>Value for &lt;field&gt; in JSON is not a number: &lt;object&gt;.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20128</key>
	<dict>
		<key>description</key>
		<string>Record &lt;name&gt; has no fields.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20129</key>
	<dict>
		<key>description</key>
		<string>Value for &lt;field&gt; in JSON is not an array: &lt;object&gt;.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20130</key>
	<dict>
		<key>description</key>
		<string>No records could be found.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20131</key>
	<dict>
		<key>description</key>
		<string>Cannot find field with name &lt;field&gt;.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20132</key>
	<dict>
		<key>description</key>
		<string>Record name is not defined.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20133</key>
	<dict>
		<key>description</key>
		<string>Field name is not defined.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20134</key>
	<dict>
		<key>description</key>
		<string>Key &lt;key&gt; is not a string.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20135</key>
	<dict>
		<key>description</key>
		<string>Unknown key &lt;key&gt; detected.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20136</key>
	<dict>
		<key>description</key>
		<string>Record with name &lt;name&gt; was not found.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20137</key>
	<dict>
		<key>description</key>
		<string>Need to add a record before adding the fields.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20138</key>
	<dict>
		<key>description</key>
		<string>A field with the name &lt;name&gt; already exists.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20139</key>
	<dict>
		<key>description</key>
		<string>Cannot add a field after a variable multiplicity field.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20140</key>
	<dict>
		<key>description</key>
		<string>There are no fields for the current record.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20141</key>
	<dict>
		<key>description</key>
		<string>There are no records to build.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20142</key>
	<dict>
		<key>description</key>
		<string>A record with the name &lt;name&gt; already exists.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20143</key>
	<dict>
		<key>description</key>
		<string>The scale is not positive.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20144</key>
	<dict>
		<key>description</key>
		<string>&lt;field&gt; is negative.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20145</key>
	<dict>
		<key>description</key>
		<string>&lt;field&gt; is invalid.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20146</key>
	<dict>
		<key>description</key>
		<string>Mis-quoted input. &lt;character&gt; not closed.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20147</key>
	<dict>
		<key>description</key>
		<string>Messaging send filter rejected.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20148</key>
	<dict>
		<key>description</key>
		<string>The session was closed after being unexpectedly disconnected.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20149</key>
	<dict>
		<key>description</key>
		<string>The session was closed locally.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20150</key>
	<dict>
		<key>description</key>
		<string>The session failed to be established. &lt;reason&gt;</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20151</key>
	<dict>
		<key>description</key>
		<string>The session operation failed due to a violated security constraint.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20152</key>
	<dict>
		<key>description</key>
		<string>The session operation failed due to an unrecognized response code. &lt;reason&gt;</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20153</key>
	<dict>
		<key>description</key>
		<string>The session was closed remotely.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20154</key>
	<dict>
		<key>description</key>
		<string>Server unexpectedly aborted.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>20155</key>
	<dict>
		<key>description</key>
		<string>Unable to retrieve value for key &lt;key&gt; in dictionary: &lt;dictionary&gt;</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>202</key>
	<dict>
		<key>description</key>
		<string>An invalid path was supplied.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>500</key>
	<dict>
		<key>description</key>
		<string>Incompatible update.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>501</key>
	<dict>
		<key>description</key>
		<string>Topic update failed.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>9000</key>
	<dict>
		<key>description</key>
		<string>No topic was found.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>9001</key>
	<dict>
		<key>description</key>
		<string>Topic is not a time series topic.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>9002</key>
	<dict>
		<key>description</key>
		<string>No times series event was found.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>9003</key>
	<dict>
		<key>description</key>
		<string>A request has been rejected.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>9004</key>
	<dict>
		<key>description</key>
		<string>A topic could not be added because one already exists with a different specification.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>9005</key>
	<dict>
		<key>description</key>
		<string>A topic could not be added because an invalid path was specified.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>9006</key>
	<dict>
		<key>description</key>
		<string>A topic could not be added because an invalid specification was supplied.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>9007</key>
	<dict>
		<key>description</key>
		<string>A topic could not be added because the topic would breach a licensing limit.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>9010</key>
	<dict>
		<key>description</key>
		<string>A topic could not be added because an incompatible topic already exists at the specified path.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>9011</key>
	<dict>
		<key>description</key>
		<string>An unexpected error occurred when creating a topic.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>9012</key>
	<dict>
		<key>description</key>
		<string>The topic update failed because the constraint was not satisfied.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>9013</key>
	<dict>
		<key>description</key>
		<string>The topic update failed because the update stream is no longer valid.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>9014</key>
	<dict>
		<key>description</key>
		<string>Parsing the JSON patch failed.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>9015</key>
	<dict>
		<key>description</key>
		<string>The JSON patch failed to apply. This happens when attempting to parse an illegal CBOR value.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>9016</key>
	<dict>
		<key>description</key>
		<string>A remote server with the specified name already exists.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
	<key>9017</key>
	<dict>
		<key>description</key>
		<string>An invalid branch mapping was supplied.</string>
		<key>domain</key>
		<string>PTDiffusion</string>
	</dict>
</dict>
</plist>
